# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# Build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# VSCode
.vscode/

# Node (if frontend is included)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


